/* Base Styles */

:root {
  --main-project-color: #358597;
  --seccond-project-color: #f4a896;
  --lighter-main-color: #5ac1d8;
  --white: white;
}

* {
  box-sizing: border-box;
}

html {
  margin: 0 auto;
  width: 100%;
}

body {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 0.75em;
}

a {
  text-decoration: none;
}

canvas {
  max-width: 100%;
}

/* Grid Container */

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 60px 1fr;
  grid-template-areas:
    "header"
    "navigation"
    "main-content";
}

/* Header Styling */

.header {
  padding: 0px 5px;
  grid-area: header;
  color: white;
  background-color: var(--main-project-color);
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerBar {
  display: flex;
}

.bell-icon {
  width: 30px;
}

.profile-image {
  border-radius: 50%;
  width: 50px;
  margin: auto 10px;
}

/* Nav Bar */

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: navigation;
  background-color: lightblue;
  padding: 10px;
}

.main-content {
  grid-area: main-content;
}

/* Nav Bar Svgs */

.svg-properties {
  padding: 5px;
  flex-basis: 50px;
  width: 40px;
  height: 40px;
}

/* Dashboard and Searchbox */

.main-header {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.headline {
  margin: auto auto;
  color: var(--main-project-color);
}

.main-header-search {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 2px;
}

.search-button {
  height: 20px;
  background-color: #5ac1d8;
  color: white;
  border-radius: 10%;
  border: 1px solid grey;
  cursor: pointer;
}

/* Alert */

.alert-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px;
  background-color: var(--seccond-project-color);
  color: white;
}

/* Traffic Header & Line Graph */

.traffic-header {
  display: flex;
  flex-direction: column;
}

.traffic-header h3 {
  text-align: center;
  color: var(--lighter-main-color);
  font-weight: 700;
}

.traffic-nav {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 0;
  padding: 0 5px;
  gap: 10px;
  list-style-type: none;
  color: rgb(97, 96, 96);
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}

.traffic-nav li {
  text-align: center;
  padding: 0.3em 1.2em;
  border-radius: 2em;
}

.traffic-nav li:hover {
  background-color: var(--seccond-project-color);
  color: var(--white);
}

/* Daily Traffic Bar Chart Section */

.daily h3 {
  text-align: center;
  color: var(--lighter-main-color);
  font-weight: 600;
  font-size: 1rem;
}

/* Mobile Users Doughnut Chart Section */

.mobile h3 {
  text-align: center;
  color: var(--lighter-main-color);
  font-weight: 600;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 65px 1fr;
    grid-template-rows: 65px 1fr;
    grid-template-areas:
      "header header"
      "navigation main-content";
  }

  .navigation {
    height: 100vh;
    padding-top: 25px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
